<!-- Loop over each object in the bibleversess array -->
{{#each bibleVerses as |bibleverses| }}
<div class="row mb-4 bibleverses">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/bibleverses/{{bibleverses.id}}">{{bibleverses.verse}}</a>
    </h2>
    
    <p>Created by {{bibleverses.user.name}} on {{format_date bibleverses.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{bibleverses.description}}
    </p>
  </div>
</div>
{{/each}}
